.Header {
    background-color: #ecf0f1;
    height: 50px; 
}
  
.Header nav {
    float: right;
    height: 100%;
}
  
.NavigationItems {
    list-style: none;
}
  
.NavigationItem {
    display: inline-block;
    padding: 13px 0;
    height: 100%;
}
  
.NavigationItem a {
    color: #2c3e50;
    text-decoration: none;
    height: 100%;
    padding: 15px 10px;
    transition: all .3s ease-in-out;
}
  
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    background-color: #34495e;
    color: white;
}
  
.Logo {
    padding: 10px;
    color: #545454;
}
  
.Logo p {
    font-size: 1.2rem;
  }
  
@media only screen and (max-width: 400px) {
    .NavigationItem a {
        padding: 17px 5px;
        font-size: 0.8rem;
        transition: all .3s ease-in-out;
    }

}
  
@media only screen and (max-width: 310px) {
    .Navigation-item a {
      padding: 17px 3px;
      font-size: 0.7rem;
      transition: all .3s ease-in-out;
    }
    
}