.header {
    background-color: #ecf0f1;
    height: 50px; 
}
  
.header nav {
    float: right;
    height: 100%;
}
  
.header__navigationItems {
    list-style: none;
}
  
.header__navigationItem {
    display: inline-block;
    padding: 15px 0;
    height: 100%;
}
  
.header__navigationItem a {
    color: #1abc9c;
    text-decoration: none;
    height: 100%;
    padding: 15px 10px;
    transition: all .3s ease-in-out;
}
  
.header__navigationItem a:hover,
.header__navigationItem a:active,
.header__navigationItem a.active {
    background-color: #16a085;
    color: white;
}
  
.header__logo {
    padding: 15px;
    color: #545454;
}
  
.header__logo p {
    font-size: 1.2rem;
  }
  
@media only screen and (max-width: 400px) {
    .header__navigationItem a {
        padding: 17px 5px;
        font-size: 0.8rem;
        transition: all .3s ease-in-out;
    }

}
  
@media only screen and (max-width: 310px) {
    .header__navigation-item a {
      padding: 17px 3px;
      font-size: 0.7rem;
      transition: all .3s ease-in-out;
    }
    
}